<html>
<head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
</head>
<h2>QA-Search Jeopardy! Dataset Human Success Rate Survey</h2>
<div id="app">
  <div v-if="state==='intro'">
    <p>Please input the email address you used when registering.</p>
    <form v-on:submit.prevent="checkRegistered()">
      <label>email: </label><input type="email" v-model="email">
      <input type="submit" value="Login"><br>
      <div>[[loginError]]</div>
    </form>
  </div>

  <div v-if="state==='instruction'" style="width: 75%">
    <p>We would like to thank you for participating our study. Your participation will help us advance toward building a better interactive question-answering system in the future.</p>
    <p>This study is focused on building a new dataset for context-dependent question-answering research. Our dataset was built using Jeopardy! questions. We Googled each Jeopardy! question to retrieve relevant document snippets that contain its answer (which can consist of multiple words.) Your task here is to answer a given Jeopardy! question by selecting one or more answer words from the retrieved snippets.</p>
    <p>After this page, you will be presented with three sample questions so that you become familiar with the task. After these three sample questions, you will be asked to answer as many questions as possible in 40 minutes.</p>
    <p>For each question, you should click on words in the snippets so as to form a single answer phrase. When you've selected all the words, please press "Submit Answer". If you've made a mistake, press "Clear Answer". Your answers will be recorded in order for us to compute the accuracy.</p>
    <p>We would like to emphasize that your answers will be stored and kept confidentially from others. Only the aggregate statistics from multiple participants will be made public, and no person-identifying information will be released nor kept after the first publication of this study is made.</p>
    <p>Again, we would like to thank you for your help in advancing science!</p>
    <p>Best regards,</p>
    <p>Matthew Thomas Dunn, Mike Higgins, Uğur Güney, Volkan Cirik, Levent Sagun and Kyunghyun Cho</p>
    <button v-on:click="startSurvey();">Start Survey</button>
  </div>

  <div v-if="state==='survey'">
    <div v-if="examplesLeft > 0" style="color: palevioletred;">Example Question (Not going to be evaluated)</div>
    <div><label>timer:</label> [[timeLeftStr]] [[warning]]</div>
        <div>question: <span>[[question]]</span></div>
    <div>answer: <span>[[response]]</span> <button v-on:click="clearResponse">Clear Answer</button></div>
    <button v-on:click="submitAnswer()">Submit Answer</button>
    <div v-if="debugMode" style='outline: 1px solid'>
      <div>correct answer: <span>[[answer]]</span></div>
      <div>is correct?: [[correct]]</div>
      <div>qaNo: [[qaNo]]</div>
      <div>[[responses]]</div>
    </div>
    <div>snippets:</div>
    <div style="width: 80%; overflow-wrap: break-word;">
      <ul v-for="snippet in snippets">
        <li style="cursor: default;"><span v-for="word of snippet.split(' ')"><span style="cursor: pointer;" v-on:click="appendToResponse(word)">[[word]]</span>&nbsp;</span></li>
      </ul>
    </div>
  </div>

  <div v-if="state==='submitting'">
    Submitting your answer...
  </div>

  <div v-if="state==='submitted'">
    <button v-on:click="getNextQuestion()">Next Question</button>
    <div>question: <span>[[question]]</span></div>
    <div>correct answer: <span>[[answer]]</span></div>
    <div>your answer: <span>[[response]]</span></div>
    <div v-if="!inExamples">[[numCorrect]] correct answers out of [[responses.length]] questions.</div>
  </div>

  <div v-if="state==='ended'">
    Time is up. Thanks for your participation!
  </div>
</div>

<script>
Vue.config.delimiters = ['[[', ']]'];
var app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: {
    state: 'intro',
    email: document.location.search.includes('debug') ? 'student1@nyu.edu' : '',
    debugMode: document.location.search.includes('debug'),
    loginError: '',
    warning: '',
    examplesLeft: 3,
    snippets: [],
    question: '',
    answer: '',
    response: '',
    responses: [],
    questionType: '',
    qaNo: null,
    timeLeftStr: '',
    endTime: new Date().getTime() + (40 * 60 * 1000)
  },
  computed: {
    correct: function() {
      return this.answer === this.response;
    },
    numCorrect: function() {
      return this.responses.reduce((tot, curr) => tot + (curr ? 1 : 0), 0);
    },
    inExamples: function() {
      return !(this.examplesLeft === 0);
    }
  },
  methods: {
    checkRegistered: function() {
      console.log('are your registered?');
      this.$http.post('/login', {email: this.email}).then((response) => {
        console.log(response.status, response.body);
        this.questionType = response.body.toString();
        this.warning = (this.questionType === 'ngram') ?
            'Please answer in one or more words.' : 'Please answer in one word only.';
        this.state = 'instruction'
      }, (response) => {
        this.loginError = response.body;
      });
    },
    startSurvey: function() {
      this.state = 'survey';
      this.loadRandomQuestion();
    },
    submitAnswer: function() {
      this.state = 'submitting';
      if(!this.inExamples) {
        this.saveResponse();
        this.postAnswer();
      }
      else {
        this.state = 'submitted';
      }
    },
    getNextQuestion: function() {
      this.state = 'survey';
      this.loadRandomQuestion();
      if (this.inExamples) {
        this.examplesLeft -= 1;
        if (this.examplesLeft === 0) {
          setInterval(this.countDown, 1000);
          this.endTime = new Date().getTime() + (40 * 60 * 1000);
        }
      }
    },
    loadRandomQuestion: function() {
      var nQuestions = this.questionType === 'ngram' ? 26748 : 13233;
      this.qaNo = Math.floor(Math.random() * nQuestions);
      q = this.pullQuestion(this.qaNo);
      this.response = '';
    },
    pullQuestion: function(n) {
      var options = {headers: {'Authorization': this.email}};
      this.$http.get('/questions/'+ n, options).then((response) => {
        return response.json();
      }).then((qa) => {
        this.question = qa.question;
        this.snippets = qa.snippets;
        this.answer = qa.answer;
      });
    },
    appendToResponse: function(word) {
      if (this.response === '') {
        this.response = word;
      }
      else {
        this.response += ' ' + word;
      }
    },
    clearResponse: function() {
      this.response = '';
    },
    saveResponse: function() {
      this.responses.push(this.correct);
    },
    postAnswer: function() {
      var data = {
        email: this.email,
        correct: this.correct,
        question_no: this.qaNo,
        answer: this.response,
        timestamp: new Date()
      };
      console.log('sending: ', data);
      this.$http.post('/answers', data).then((response) => {
        console.log(response.status, response.body);
        this.state = 'submitted';
      }, (response) => {
        console.log('ERROR', response.body);
        this.state = 'submitted';
      });
    },
    countDown: function() {
      var t = new Date().getTime();
      var secondsLeft = (this.endTime - t) / 1000.0;
      var min = Math.floor(secondsLeft / 60.0);
      var sec = Math.floor(secondsLeft - 60 * min);
      var secStr = sec.toString();
      if (secStr.length === 1) {
        secStr = '0' + secStr;
      }
      this.timeLeftStr = +min + ':' + secStr;
      if (secondsLeft < 0.0) {
        this.state = 'ended';
      }
    }
  }
});
</script>
</html>
