<html>
<head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
</head>
<h2>QA-Search Jeopardy! Dataset Human Success Rate Survey</h2>
<div id="app">
  <div v-if="state==='intro'">
    <p>Please input the email address you used when registering.</p>
    <form v-on:submit.prevent="checkRegistered()">
      <label>email: </label><input type="email" v-model="email">
      <input type="submit" value="Start Survey"><br>
      <div>[[loginError]]</div>
    </form>
  </div>

  <div v-if="state==='survey'">
    <div v-if="examplesLeft > 0" style="color: palevioletred;">Example Question (Not going to be evaluated)</div>
    <div><label>timer:</label> [[timeLeftStr]] [[warning]]</div>
        <div>question: <span>[[question]]</span></div>
    <div>answer: <span>[[response]]</span> <button v-on:click="clearResponse">Clear Answer</button></div>
    <button v-on:click="submitAnswer()">Submit Answer</button>
    <div v-if="debugMode" style='outline: 1px solid'>
      <div>correct answer: <span>[[answer]]</span></div>
      <div>is correct?: [[correct]]</div>
      <div>qaNo: [[qaNo]]</div>
      <div>[[responses]]</div>
    </div>
    <div>snippets:</div>
    <div style="width: 80%; overflow-wrap: break-word;">
      <ul v-for="snippet in snippets">
        <li style="cursor: default;"><span v-for="word of snippet.split(' ')"><span style="cursor: pointer;" v-on:click="appendToResponse(word)">[[word]]</span>&nbsp;</span></li>
      </ul>
    </div>
  </div>

  <div v-if="state==='submitting'">
    Submitting your answer...
  </div>

  <div v-if="state==='submitted'">
    <button v-on:click="getNextQuestion()">Next Question</button>
    <div>question: <span>[[question]]</span></div>
    <div>correct answer: <span>[[answer]]</span></div>
    <div>your answer: <span>[[response]]</span></div>
    <div v-if="!inExamples">[[numCorrect]] correct answers out of [[responses.length]] questions.</div>
  </div>

  <div v-if="state==='ended'">
    Time is up. Thanks for your participation!
  </div>
</div>

<script>
Vue.config.delimiters = ['[[', ']]'];
var app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: {
    state: 'intro',
    email: document.location.search.includes('debug') ? 'student1@nyu.edu' : '',
    debugMode: document.location.search.includes('debug'),
    loginError: '',
    warning: '',
    examplesLeft: 3,
    snippets: [],
    question: '',
    answer: '',
    response: '',
    responses: [],
    qaNo: null,
    timeLeftStr: '',
    endTime: new Date().getTime() + (40 * 60 * 1000)
  },
  computed: {
    correct: function() {
      return this.answer === this.response;
    },
    numCorrect: function() {
      return this.responses.reduce((tot, curr) => tot + (curr ? 1 : 0), 0);
    },
    inExamples: function() {
      return !(this.examplesLeft === 0);
    }
  },
  methods: {
    checkRegistered: function() {
      console.log('are your registered?');
      this.$http.post('/login', {email: this.email}).then((response) => {
        console.log(response.status, response.body);
        this.warning = (response.body.toString() === 'ngram') ?
            'Please answer in one or more words.' : 'Please answer in one word only.';
        this.startSurvey();
      }, (response) => {
        this.loginError = response.body;
      });
    },
    startSurvey: function() {
      this.state = 'survey';
      setInterval(this.countDown, 1000);
      this.loadRandomQuestion();
    },
    submitAnswer: function() {
      this.state = 'submitting';
      if(!this.inExamples) {
        this.saveResponse();
        this.postAnswer();
      }
      else {
        this.state = 'submitted';
      }
    },
    getNextQuestion: function() {
      this.state = 'survey';
      this.loadRandomQuestion();
      if (this.inExamples) {
        this.examplesLeft -= 1;
      }
    },
    loadRandomQuestion: function() {
      this.qaNo = Math.floor(Math.random() * 13389);
      q = this.pullQuestion(this.qaNo);
      this.response = '';
    },
    pullQuestion: function(n) {
      var options = {headers: {'Authorization': this.email}};
      this.$http.get('/questions/'+ n, options).then((response) => {
        return response.json();
      }).then((qa) => {
        this.question = qa.question;
        this.snippets = qa.snippets;
        this.answer = qa.answer;
      });
    },
    appendToResponse: function(word) {
      if (this.response === '') {
        this.response = word;
      }
      else {
        this.response += ' ' + word;
      }
    },
    clearResponse: function() {
      this.response = '';
    },
    saveResponse: function() {
      this.responses.push(this.correct);
    },
    postAnswer: function() {
      var data = {
        email: this.email,
        correct: this.correct,
        question_no: this.qaNo,
        answer: this.response
      };
      console.log('sending: ', data);
      this.$http.post('/answers', data).then((response) => {
        console.log(response.status, response.body);
        this.state = 'submitted';
      }, (response) => {
        console.log('ERROR', response.body);
        this.state = 'submitted';
      });
    },
    countDown: function() {
      var t = new Date().getTime();
      var secondsLeft = (this.endTime - t) / 1000.0;
      var min = Math.floor(secondsLeft / 60.0);
      var sec = Math.floor(secondsLeft - 60 * min);
      var secStr = sec.toString();
      if (secStr.length === 1) {
        secStr = '0' + secStr;
      }
      this.timeLeftStr = +min + ':' + secStr;
      if (secondsLeft < 0.0) {
        this.state = 'ended';
      }
    }
  }
});
</script>
</html>
